    <div class="shap_big_2 d-none d-lg-block">
        <img src="img/ilstrator/body_shap_2.png" alt="">
    </div>
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="shap_img_1 d-none d-lg-block">
            <img src="img/ilstrator/body_shap_1.png" alt="">
        </div>
        <div class="poly_img">
            <img src="img/ilstrator/poly.png" alt="">
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="slider_text text-center">
                            <div class="text">
                                <h3>
                                    BoostUp your Business <br> & Get
                                        a Perfect<br> Management System
                                </h3>
                            <a class="boxed-btn3" href="/pricing">Get Started</a>
                            </div>
                            <div class="ilstrator_thumb">
                                <img src="img/ilstrator/illustration.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- case_study_area  -->
    <div class="case_study_area case_sm_1">
        <div class="patrn_1 d-none d-lg-block">
            <img src="img/pattern/patrn_1.png" alt="">
        </div>
        <div class="patrn_2 d-none d-lg-block">
            <img src="img/pattern/patrn.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="compapy_info">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-md-5">
                    <div class="man_thumb">
                        <img src="img/ilstrator/man.png" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-md-7">
                    <div class="company_info">
                        <h3>We are an SEO company that <br>
                            specializes in developing.</h3>
                            <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable.
                                Steem spirit temper too say adieus who direct esteem.</p>

                        <a href="#" class="boxed-btn3">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="case_active owl-carousel">
                            <div class="single_study text-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/case_study/1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="subheading">
                                        <h4><a href="#">Product Design</a></h4>
                                        <p>UI/UX, Design</p>
                                    </div>
                                </div>
                            <div class="single_study text-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/case_study/2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="subheading">
                                        <h4><a href="#">Custom Website</a></h4>
                                        <p>UI/UX, Design</p>
                                    </div>
                                </div>
                            <div class="single_study text-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/case_study/3.png" alt="">
                                        </a>
                                    </div>
                                    <div class="subheading">
                                        <h4><a href="#">Digital Marketing</a></h4>
                                        <p>UI/UX, Design</p>
                                    </div>
                                </div>
                            <div class="single_study text-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img src="img/case_study/1.png" alt="">
                                        </a>
                                    </div>
                                    <div class="subheading">
                                        <h4><a href="#">Product Design</a></h4>
                                        <p>UI/UX, Design</p>
                                    </div>
                                </div>
                                <div class="single_study text-center">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/case_study/2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="subheading">
                                            <h4><a href="#">Custom Website</a></h4>
                                            <p>UI/UX, Design</p>
                                        </div>
                                    </div>
                                <div class="single_study text-center">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="img/case_study/3.png" alt="">
                                            </a>
                                        </div>
                                        <div class="subheading">
                                            <h4><a href="#">Digital Marketing</a></h4>
                                            <p>UI/UX, Design</p>
                                        </div>
                                    </div>
                                    <div class="single_study text-center">
                                            <div class="thumb">
                                                <a href="#">
                                                    <img src="img/case_study/3.png" alt="">
                                                </a>
                                            </div>
                                            <div class="subheading">
                                                <h4><a href="#">Digital Marketing</a></h4>
                                                <p>UI/UX, Design</p>
                                            </div>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ case_study_area  -->

    <!-- accordion_area  -->
    <div class="accordion_area">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-xl-6 col-lg-6">
                    <div class="faq_ask">
                        <h3>Why Choose Us</h3>
                            <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                        Adieus who direct esteem <span>It esteems luckily?</span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                        Who direct esteem It esteems?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                        Duis consectetur feugiat auctor?
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                            <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="accordion_thumb">
                        <img src="img/banner/accordion.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--/ accordion_area  -->


    <!-- features_area  -->
    <div class="features_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center">
                        <h3>We have some awesome features <br>
                            to rank your business</h3>
                            <p>Esteem spirit temper too say adieus who direct esteem. It esteems luckily or <br> picture placing drawing. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_1.svg" alt="">
                        </div>
                        <h4>Custom design</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_2.svg" alt="">
                        </div>
                        <h4>Paid Search result</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_3.svg" alt="">
                        </div>
                        <h4>Global Search option</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_4.svg" alt="">
                        </div>
                        <h4>Email Marketing</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_5.svg" alt="">
                        </div>
                        <h4>Custom Software</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_feature">
                        <div class="icon">
                            <img src="img/svg_icon/feature_6.svg" alt="">
                        </div>
                        <h4>Setup business goal</h4>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ features_area  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_active owl-carousel">
                            <div class="single_carousel">
                                    <div class="single_testmonial text-center">
                                            <div class="quote">
                                                <img src="img/testmonial/quote.svg" alt="">
                                            </div>
                                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                    Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                            <div class="testmonial_author">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                                <h3>Robert Thomson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                            </div>
                            <div class="single_carousel">
                                    <div class="single_testmonial text-center">
                                            <div class="quote">
                                                <img src="img/testmonial/quote.svg" alt="">
                                            </div>
                                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                    Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                            <div class="testmonial_author">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                                <h3>Robert Thomson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                            </div>
                            <div class="single_carousel">
                                    <div class="single_testmonial text-center">
                                            <div class="quote">
                                                <img src="img/testmonial/quote.svg" alt="">
                                            </div>
                                            <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                                    Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                            <div class="testmonial_author">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                                <h3>Robert Thomson</h3>
                                                <span>Business Owner</span>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /testimonial_area  -->
